@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    font-family: 'Kanit';
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
}

@font-face {
    font-family: Kanit;
    src: url('./assets/fonts/Kanit/Kanit-Regular.ttf');
}