.back-nav{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;

    span{
        color: var(--neutral-white-high-emp, #FFF);
        font-family: Kanit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
    }

    img{
        width: 18px;
    }
}

.form-con{
    height: 100%;
    padding-bottom: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    color: white;

    input, select{
        border: 1px solid white;
        padding: 8px 14px;
        background: #16161C;
        outline: none;
        border-radius: 5px;
    }
}

.h-100{
    height: 100%;
}